<!DOCTYPE html>
<html>
  <head>
    <title>TwittMap</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>
var count = 0;
var marker1 = new google.maps.Marker();
var marker2 = new google.maps.Marker();
var map

function initialize() {
    count = 0;
    var mapOptions = {
        zoom: 10,
        center: new google.maps.LatLng(1.2754385, 103.81367)
    };
    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
  <form action="/search/" method="get"><center>
        <br>
        key word <input id="keyword" type="text" name="keyword" maxlength=100 >
        <input type="submit" id="search" value="search" name="search">
    </center></form>
    <center>
    <div id="map-canvas" style="width:95%;height:670px; margin-top:20px;"></div>
    </center>
  </body>
</html>

