<html>
<head>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4FPsdZjwzFZlhVi0b1iZFJp4JXTQoEaY"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="text/javascript">
	var center = new google.maps.LatLng(40.758896, -73.985130);
	var map;
    var panorama;
    var markers = [];
	function initialize()
	{
		var mapProp = {
		  	center:center,
		  	zoom:2,
            streetViewControl: false,
		  	mapTypeId:google.maps.MapTypeId.ROADMAP
	  	};
        var sv = new google.maps.StreetViewService();
        panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'));        
		map = new google.maps.Map(document.getElementById("map-canvas"),mapProp);
        sv.getPanorama({location: center, radius: 100}, processSVData);        
        //map.setStreetView(panorama);
        function searchkw(){
            for(i=0; i<markers.length; i++){
                markers[i].setMap(null);
            }
            markers = [];
            map.setZoom(2);
            var keyword = $("#kw").val();
            var center = $("#center").val();
            var radius = $("#radius").val();
            if ((center=="" && radius!="") || (center!="" && radius=="")) {
                alert('Center and radius should be both valid or both null.');
            }else {
            $.getJSON('/search/', {'keyword':keyword, 'center':center, 'radius':radius}, function(res){
                var json = '[' + res + ']';
                $.each(JSON.parse(json), function(idx, obj) {
                    var latLng = new google.maps.LatLng(obj.lat, obj.lng);
                    var marker = new google.maps.Marker({position: latLng, map: map});
                    var info = new google.maps.InfoWindow({ content: '<div id="content"><div id="siteNotice"></div><h1 id="firstHeading" class="firstHeading">'+obj.usr+'</h1><div id="bodyContent"><p>'+obj.txt+'</p>'});                    
                    marker.addListener('click', function() {
                        map.setZoom(7);
                        map.setCenter(marker.getPosition());
                        info.open(map, marker);
                        sv.getPanorama({location: marker.getPosition(), radius: 100}, processSVData);
                        //panorama.setOptions({position: latLng});
                    });
                    markers.push(marker);
                })
                if (markers.length == 0) {
                    alert('No tweet post recently contains this keyword.');
                }
            })
            }
        }
        google.maps.event.addListener(map, 'click', function(e) {
                document.getElementById("center").value = e.latLng.toUrlValue();
        });

        google.maps.event.addDomListener(document.getElementById("search"),"click", searchkw);
	}

    function processSVData(data, status) {
        if (status === 'OK') {
          panorama.setPano(data.location.pano);
          panorama.setPov({
            heading: 270,
            pitch: 0
          });
          panorama.setVisible(true);
        } else {
          alert('Street View data not found for this location.');
        }
    }
	google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body>

<div id="map-canvas" style="width: 60%; height: 100%;float:left"></div>
<div id="pano" style="width: 40%; height: 100%;float:left"></div>

<div style="position:absolute;top:30px;left:150px;">
    Center Coordinate <input id="center" type="text" name="center" maxlength=100 readonly>,   
     Radis <input id="radius" type="text" name="radius" maxlength=100>km
</div>
<div style="position:absolute;top:60px;left:150px;">
    keyword <input id="kw" style="width:200px;height:20px;" type="text">
    <button id="search" type="button">Search</button>
</div>

<div id="tagclouds" style="position:absolute;top:70px;right:70px;width:280px;height:280px;">
<script type="text/javascript">
</script>
</div>


</body>
</html>
