<html>
<head>

<script
src="http://maps.google.cn/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="text/javascript">

	var center = new google.maps.LatLng(1.34194,103.848);
	var map;

	function initialize()
	{
		var mapProp = {
		  	center:center,
		  	zoom:14,
		  	mapTypeId:google.maps.MapTypeId.ROADMAP
	  	};
		map = new google.maps.Map(document.getElementById("map_canvas"),mapProp);

        function searchkw(){
            var keyword = $("#kw").val()
            $.getJSON('/search/', {'keyword':keyword}, function(res){
                var json = '[' + res + ']';
                $.each(JSON.parse(json), function(idx, obj) {
	                //alert(obj.lat);
                    var latLng = new google.maps.LatLng(obj.lat, obj.lng);
                    var marker = new google.maps.Marker({position: latLng, map: map});
                })
            })
        }

        google.maps.event.addDomListener(document.getElementById("search"),"click", searchkw);


	}

	google.maps.event.addDomListener(window, 'load', initialize);

</script>
</head>

<body>

<div id="map_canvas" style="width:100%; height:100%"></div>

<div style="position:absolute;top:30px;right:150px;">
    <input id="kw" style="width:200px;height:30px;" type="text">
    <button id="search" type="button">Search</button>
</div>

<div id="tagclouds" style="position:absolute;top:70px;right:70px;width:280px;height:280px;">
<script type="text/javascript">
</script>
</div>


</body>
</html>

